services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: loan-backend
    ports:
      - "5003:5003"
    environment:
      KAFKA_BROKER: kafka:9092
    depends_on:
      - kafka

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_app
    ports:
      - "5173:5173"
    depends_on:
      - backend
